Repository konveyor/go-konveyor-tests, pull requests merged in 2024-11, with the labels that each got.

#188 Adding releases-tier0.yml to run TIER0 on release branches
  .github/workflows/main-tier0-releases.yml
  .github/workflows/releases-tier0.yml
Labels: cherry-pick/release-0.3, cherry-pick/release-0.4, cherry-pick/release-0.5

#193 Adding target branch name in GH workflow for PR event
  .github/workflows/releases-tier0.yml
Labels: cherry-pick/release-0.3, cherry-pick/release-0.4, cherry-pick/release-0.5

#201 Correcting job name in workflow
  .github/workflows/releases-tier1.yml
  .github/workflows/releases-tier2.yml
Labels: cherry-pick/release-0.3, cherry-pick/release-0.4, cherry-pick/release-0.5

#209 Pass api_hub_tests_ref in release branch workflows
  .github/workflows/releases-tier0.yml
  .github/workflows/releases-tier1.yml
  .github/workflows/releases-tier2.yml
Labels: cherry-pick/release-0.3, cherry-pick/release-0.5

#214 Add deps check in Daytrader app
  analysis/tc_daytrader_deps.go
  analysis/test_cases.go
  data/application.go
Labels: cherry-pick/release-0.5, cherry-pick/release-0.6

#223 Fix Petclinic analysis failure
  analysis/tc_petclinic_hazelcast.go
  data/application.go
Labels: cherry-pick/release-0.5, cherry-pick/release-0.6
